<!-- The home view -->
<section ng-controller="HomeController">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div data-ng-show="!authentication.user">
        <div class="jumbotron">
          <div class="container">
            <h1 id="welcome-header">Welcome to my site!</h1>
            <p id="welcome-text">My name is Walter and this is my place on the web – my portfolio, my resume, and the place where I talk
                about stuff that might be interesting to you.  This site was built with <strong>Mongodb</strong>, <strong>Express.js</strong>,
                <strong>Angular</strong>, <strong>Node.js</strong> and <strong>Bootstrap</strong>.</p>
            <p><a class="btn btn-primary btn-lg" href="/#!/about" role="button">Learn more about me&raquo;</a></p>
          </div>
        </div>
        <div>
            <footer class="footer">
                <div class="container">
                    <a id="signin" href="/signin" type="submit" value="Signin">Signin</a>
                </div>
                <!--<div class="container">
                    <a id="signup" href="/signup" type="submit" value="Signup">Signup</a>
                </div>-->
            </footer>
        </div>
    </div>


    <!-- If the user is not authenticated show the authentication link -->



	<!-- Otherwise, show the user details and application links -->
	<div data-ng-show="authentication.user">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul class="nav nav-sidebar">
                        <a id="signout" class="btn btn-primary btn-lg" href="/signout" role="button">Signout</a>
                        <h4 id="welcome">Welcome back <span data-ng-bind="authentication.user.firstName"></span></h4>
                        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                        <li><a href="/#!/articles">List Articles</a></li>
                        <li><a href="/#!/articles/create">Create Article</a></li>
                        <li><a href="/#!/resumes">Edit Resume</a></li>
                    </ul>
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h1 class="page-header">Dashboard</h1>

                 </div>
            </div>
        </div>
    </div>
</section>
