/*
 * Globals
 */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Arvo);
@import url(http://fonts.googleapis.com/css?family=Arimo);

body {
    background: #fff;
    font-family: Lato, sans-serif;
    margin: 0 0 80px;
    padding-top: 50px;
}
a {
	color: #2ecc71;
}
a:focus,
a:hover {
	color: #f1c40f;
	text-decoration: none;
}
p {
	line-height: 1.5;
	margin: 0;
}
p + p {
	margin-top: 10px;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;

    font-weight: normal;
    color: #333;
}
blockquote {
	border-left: 5px solid #e7e9ec;
	font-size: 14px;
}
em {
	color: #95a5a6;
	font-weight: normal;
	font-style: normal;
}
h4 span:first-child {
	color: #000;
	font-weight: bold;
}
nav {
    font-family: 'Arvo', serif;
    font-weight: 500;
}
section {
	margin-top: 30px;
}
.container {
	max-width: 750px;

}
.col-sm-6 {
	margin-bottom: 10px;
}
.col-sm-12 h4 {
	margin-top: 12px;
}
.col-sm-12 + .col-sm-12 {
	margin-top: 30px;
}
/* Navbar */
/*.icons{
    position: absolute;
    top: 1px;
}*/
.nav-div {
    border-bottom: solid 1px #000000;
}

.navbar-inverse .navbar-brand {
    color: #080808;
}
.navbar-inverse .navbar-brand:hover {
    color: #A9071E;
}
.navbar-inverse .navbar-nav>li>a {
    color: #080808;
}
/*.navbar-inverse .navbar-nav>li .active {
    color: #cdddeb;
}*/
.navbar-inverse {
    border-bottom: solid 1px #000000;
    background-image: linear-gradient(to bottom,#F0EBE4 0, #F0EBE4 100%)

}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: #F0EBE4;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #A9071E;
}
/*.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}*/


/*#signup-button-front-page {
    margin-top: 170px;
    margin-right: 15px;
}*/

/*#signin-button-front-page {

}*/

a.btn.btn-primary.btn-lg {
    background-color: #78c406;
}

.jumbotron {
    background-color: #E9F2F9;
    position: absolute;
    top: 50px;
    /*height: 800px;*/
    width: 100%;
    border-bottom: solid 1px #000000;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    	   -moz-animation: fadein 2s; /* Firefox < 16 */
    		-ms-animation: fadein 2s; /* Internet Explorer */
    		 -o-animation: fadein 2s; /* Opera < 12.1 */
    			animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#signout {
    margin-left: 45px;
}
#welcome {
    padding: 10px;
    margin-left: 10px;
}
#welcome-header {
    margin-bottom: 20px;
    text-shadow:
        1px 0px 1px #ccc, 0px 1px 1px #eee,
        2px 1px 1px #ccc, 1px 2px 1px #eee,
        3px 2px 1px #ccc, 2px 3px 1px #eee,
        4px 3px 1px #ccc, 3px 4px 1px #eee,
        5px 4px 1px #ccc, 4px 5px 1px #eee,
        6px 5px 1px #ccc, 5px 6px 1px #eee,
        7px 6px 1px #ccc;
}
#welcome-text {
    margin-bottom: 25px;
}
.btn-primary {
    background-image: linear-gradient(to bottom, #A9071E 0,#A9071E 100%);
}
.btn-primary:hover {
    background-image: linear-gradient(to bottom,#90c41d 0,#90c41d 100%);
}

#create-article {
    margin-top: 20px;
}
#update-article {
    margin-top: 20px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}
#signin {
    visibility: hidden;
    /*position: absolute;
        bottom: 0;
        left: 75px;*/
}
#signup {
    position: absolute;
    bottom: 0;
    left: 75px;
}

/** About **/
.about {
    text-align: center;
}
#about-intro {
    margin-top: 20px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        	   -moz-animation: fadein 2s; /* Firefox < 16 */
        		-ms-animation: fadein 2s; /* Internet Explorer */
        		 -o-animation: fadein 2s; /* Opera < 12.1 */
        			animation: fadein 2s;
}
.about p.lead {
    margin-top: 45px;
    margin-bottom: 50px;
    line-height: 1.7;
    font-size: 1.5em;
    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
        	   -moz-animation: fadein 6s; /* Firefox < 16 */
        		-ms-animation: fadein 6s; /* Internet Explorer */
        		 -o-animation: fadein 6s; /* Opera < 12.1 */
        			animation: fadein 6s;
}
#tech-used {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 25%;
    font: italic bold 2.7em Georgia, Serif;
    font-weight: 700;

    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
               -moz-animation: fadein 6s; /* Firefox < 16 */
                -ms-animation: fadein 6s; /* Internet Explorer */
                 -o-animation: fadein 6s; /* Opera < 12.1 */
                    animation: fadein 6s;
}
.text-container {
    height: 199px;
    padding-top: 85px;
    padding-left: 35px;
    background-color: #F0EBE4;

    -webkit-animation: fadein 0.7s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.7s; /* Firefox < 16 */
        -ms-animation: fadein 0.7s; /* Internet Explorer */
         -o-animation: fadein 0.7s; /* Opera < 12.1 */
            animation: fadein 0.7s;

}
.text-container p {
    color: #000;
    padding: 15px;
    border-top: solid 3px #000000;
    border-bottom: solid 3px #000000;
    border-left: solid 3px #000000;
    border-bottom-left-radius: 15px;
    -moz-border-bottom-left-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-top-left-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    background-color: #AAD1D8;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    font-weight: 700;
    font-size: 24px;

}
#image-container {
    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 6s; /* Firefox < 16 */
        -ms-animation: fadein 6s; /* Internet Explorer */
         -o-animation: fadein 6s; /* Opera < 12.1 */
            animation: fadein 6s;

}

/* sprit images */
#css-image-rollover{
    height: 200px;
    width: 200px;
    background-position: 0 0px;
    border: 1px solid #000;
    position:relative;
    display: inline-block;
    float:left;
    margin:10px;
}

#html-image-rollover{
    height: 200px;
    width: 200px;
    background-position: -200px 0px;
    border: 1px solid #000;
    position:relative;
    display: inline-block;
    float:left;
    margin:10px;
}
#javascript-image-rollover{
    height: 200px;
    width: 200px;
    background-position: -401px -2px;
    border: 1px solid #000;
    position:relative;
    display: inline-block;
    float:left;
    margin:10px;
}
#python-image-rollover{
    height: 200px;
    width: 200px;
    background-position: -600px 0px;
    border: 1px solid #000;
    position:relative;
    display: inline-block;
    float:left;
    margin:10px;
}
#angular-image-rollover{
    height: 200px;
    width: 200px;
    background-position: 0px -200px;
    border: 1px solid #000;
    position:relative;
    display: inline-block;
    float:left;
    margin:10px;
}
#bower-image-rollover{
    height: 200px;
    width: 200px;
    background-position: -200px -200px;
    border: 1px solid #000;
    position:relative;
    display: inline-block;
    float:left;
    margin:10px;
}
#php-image-rollover{
    height: 200px;
    width: 200px;
    background-position: -402px -200px;
    border: 1px solid #000;
    position:relative;
    display: inline-block;
    float:left;
    margin:10px;
}
#rpd-image-rollover{
    height: 200px;
    width: 200px;
    background-position: -602px -200px;
    border: 1px solid #000;
    position:relative;
    display: inline-block;
    float:left;
    margin:10px;
}
#mysql-image-rollover{
    height: 200px;
    width: 200px;
    background-position: 0px -400px;
    border: 1px solid #000;
    position:relative;
    display: inline-block;
    float:left;
    margin:10px;
}
#mongodb-image-rollover{
    height: 200px;
    width: 200px;
    background-position: -200px -400px;
    border: 1px solid #000;
    position:relative;
    display: inline-block;
    float:left;
    margin:10px;
}
#node-image-rollover{
    height: 200px;
    width: 200px;
    background-position: -400px -400px;
    border: 1px solid #000;
    position:relative;
    display: inline-block;
    float:left;
    margin:10px;
}
#vagrant-image-rollover{
    height: 200px;
    width: 200px;
    background-position: -600px -400px;
    border: 1px solid #000;
    position:relative;
    display: inline-block;
    float:left;
    margin:10px;
}
#jquery-image-rollover{
    height: 200px;
    width: 200px;
    background-position: 0px -600px;
    border: 1px solid #000;
    position:relative;
    display: inline-block;
    float:left;
    margin:10px;
}
#grunt-image-rollover{
    height: 200px;
    width: 200px;
    background-position: -200px -600px;
    border: 1px solid #000;
    position:relative;
    display: inline-block;
    float:left;
    margin:10px;
}
#git-image-rollover{
    height: 200px;
    width: 200px;
    background-position: -401px -600px;
    border: 1px solid #000;
    position:relative;
    display: inline-block;
    float:left;
    margin:10px;
}
#java-image-rollover{
    height: 200px;
    width: 200px;
    background-position: -602px -600px;
    border: 1px solid #000;
    position:relative;
    display: inline-block;
    float:left;
    margin:10px;
}

/* Form */
#form-section {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
            	   -moz-animation: fadein 2s; /* Firefox < 16 */
            		-ms-animation: fadein 2s; /* Internet Explorer */
            		 -o-animation: fadein 2s; /* Opera < 12.1 */
            			animation: fadein 2s;
}
#form-header {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 600;
}
.error {
  background-color: rgba(255, 0, 0, 0.2);
}
.help-block {
    color: #A9071E;
}
.submissionMessage {
  background-color: rgba(255,255,255, 0.2);
  border-radius: 5px;
  padding: 12px;
  text-align: center;
  display: block;
  box-shadow: 0 0 2px white;
  width: 60%;
}
.input-form-divs {
    margin-top: 10px;
}
#contact-form-button:hover {
    background-color: #78c406;
}

/* Portfolio */

.portfolio {
    text-align: center;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
            	   -moz-animation: fadein 2s; /* Firefox < 16 */
            		-ms-animation: fadein 2s; /* Internet Explorer */
            		 -o-animation: fadein 2s; /* Opera < 12.1 */
            			animation: fadein 2s;
}
#portfolio-header {
    margin-top: 20px;
    margin-bottom: 60px;
}
#portfolio-more-soon {
    margin-top: 70px;
    font-size: 1.5em;
}
.img-rounded {
    margin-bottom: 20px;
}
#image-circle {
    border: solid 1px #000000;
}


/* Articles */
.article-section {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
                	   -moz-animation: fadein 2s; /* Firefox < 16 */
                		-ms-animation: fadein 2s; /* Internet Explorer */
                		 -o-animation: fadein 2s; /* Opera < 12.1 */
                			animation: fadein 2s;
}
.blog-masthead {
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}
.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 10px;
    padding-bottom: 20px;
}
.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.blog-description {
    font-size: 20px;
    color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 16px;
    line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}


/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}


/* Blog posts */

.blog-post {
    margin-bottom: 60px;
}
.blog-post-title {
    margin-bottom: 25px;
    font-size: 40px;
}
.blog-post-single {
    margin-top: 20px;
    margin-left: 10px;
}
.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}


/*
 * Footer
 */
.blog-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

.blog-list {
    list-style: none;
    padding-bottom: 30px;
}

.blog-ul {
    margin-left: -30px;
}


/* Resume */
#header {
	background: #E9F2F9;
	border-bottom: solid 1px #000000;
	padding: 50px 0;
	margin-top: -30px;
	margin-bottom: 30px;

	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	   -moz-animation: fadein 2s; /* Firefox < 16 */
		-ms-animation: fadein 2s; /* Internet Explorer */
		 -o-animation: fadein 2s; /* Opera < 12.1 */
			animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#header h1 {
	font-family: 'Arvo', serif;
	font-weight: 700;
}
#header h2 {
	font-family: 'Arimo', sans-serif;
	color: #333;
	font-size: 24px;
	text-shadow:
	        1px 0px 1px #ccc, 0px 1px 1px #eee,
	        2px 1px 1px #ccc, 1px 2px 1px #eee,
	        3px 2px 1px #ccc, 2px 3px 1px #eee,
	        4px 3px 1px #ccc, 3px 4px 1px #eee,
	        5px 4px 1px #ccc, 4px 5px 1px #eee,
	        6px 5px 1px #ccc, 5px 6px 1px #eee,
	        7px 6px 1px #ccc;
}
#resume-controls {
	margin-left: 50px;
}
#content h3 {
	color: #A9071E;
	font-size: 26px;
	margin-top: -4px;
}
#content aside {
	text-align: right;
	padding-right: 30px;
}
#contact {
	-webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
		   -moz-animation: fadein 6s; /* Firefox < 16 */
			-ms-animation: fadein 6s; /* Internet Explorer */
			 -o-animation: fadein 6s; /* Opera < 12.1 */
				animation: fadein 6s;
}
#about {
	-webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
			   -moz-animation: fadein 6s; /* Firefox < 16 */
				-ms-animation: fadein 6s; /* Internet Explorer */
				 -o-animation: fadein 6s; /* Opera < 12.1 */
					animation: fadein 6s;
}
#profiles {
	-webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
			   -moz-animation: fadein 6s; /* Firefox < 16 */
				-ms-animation: fadein 6s; /* Internet Explorer */
				 -o-animation: fadein 6s; /* Opera < 12.1 */
					animation: fadein 6s;
}
#profiles .network {
	text-transform: capitalize;
}
#work {
	-webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
			   -moz-animation: fadein 6s; /* Firefox < 16 */
				-ms-animation: fadein 6s; /* Internet Explorer */
				 -o-animation: fadein 6s; /* Opera < 12.1 */
					animation: fadein 6s;
}
#work .position,
#volunteer .position {
	font-weight: bold;
	margin-bottom: 8px;
}
#education {
	-webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
			   -moz-animation: fadein 6s; /* Firefox < 16 */
				-ms-animation: fadein 6s; /* Internet Explorer */
				 -o-animation: fadein 6s; /* Opera < 12.1 */
					animation: fadein 6s;
}
#education .area {
	font-weight: bold;
}
#education .area:before {

	font: 16px Octicons;
	margin-right: 6px;
}
#education .studyType {
	margin-left: 25px;
}
#awards .summary,
#publications .summary {
	margin-top: 8px;
}
#publications .website a:before {
	content: attr(href);
}
#skills {
	-webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
			   -moz-animation: fadein 6s; /* Firefox < 16 */
				-ms-animation: fadein 6s; /* Internet Explorer */
				 -o-animation: fadein 6s; /* Opera < 12.1 */
					animation: fadein 6s;
}
#languages {
	-webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
			   -moz-animation: fadein 6s; /* Firefox < 16 */
				-ms-animation: fadein 6s; /* Internet Explorer */
				 -o-animation: fadein 6s; /* Opera < 12.1 */
					animation: fadein 6s;
}
#interests {
	-webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
			   -moz-animation: fadein 6s; /* Firefox < 16 */
				-ms-animation: fadein 6s; /* Internet Explorer */
				 -o-animation: fadein 6s; /* Opera < 12.1 */
					animation: fadein 6s;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}
@media (max-width: 768px) {
	.col-sm-6:last-child {
		margin-bottom: 0px;
	}
	#content aside {
		margin-bottom: 20px;
		padding-right: 0;
		text-align: left;
	}
	#publications .website a:before {
		content: "View publication";
	}
}
@media (max-width: 480px) {
	h1 {
		font-size: 26px;
	}
	.date {
		font-size: 14px;
		margin-bottom: 5px;
	}
	.strike-through span:first-child {
		margin-bottom: 7px;
	}
	.strike-through span {
		display: block;
	}
	#header {
		margin-bottom: 10px;
		padding: 40px 0;
	}
	#actions {
		display: none;
	}

}
@media (min-width: 480px) {
	.strike-through {
		border-top: 1px solid #f4f6f6;
		height: 20px;
		margin-top: 12px;
		margin-bottom: -2px;
		position: relative;
	}
	.strike-through span,
	.strike-through a {
		background: #fff;
		position: absolute;
	}
	.strike-through span:first-child {
		padding-right: 20px;
		margin-top: -12px;
	}
	.strike-through span + span {
		font-size: 14px;
		margin-top: -10px;
		padding-left: 20px;
		right: 0;
	}

}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #tech-used {
        margin-left: 5%;
    }
    #image-container {
        margin-left: 14%;
    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #000000;
    }
}

