/*
 * Globals
 */
@import url(
	https://fonts.googleapis.com/css?family=Lato:400,700
);

body {
    font-family: Lato, sans-serif;
    padding-top: 50px;
    background-color: #F9F2E7;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;

    font-weight: normal;
    color: #333;
}
.container {
	max-width: 750px;

}
/* Navbar */
/*.icons{
    position: absolute;
    top: 1px;
}*/
.nav-div {
    border-bottom: solid 1px #000000;
}

.navbar-inverse .navbar-brand {
    color: #080808;
}
.navbar-inverse .navbar-brand:hover {
    color: #A9071E;
}
.navbar-inverse .navbar-nav>li>a {
    color: #080808;
}
/*.navbar-inverse .navbar-nav>li .active {
    color: #cdddeb;
}*/
.navbar-inverse {
    border-bottom: solid 1px #000000;
    background-image: linear-gradient(to bottom,#F0EBE4 0, #F0EBE4 100%)

}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: #F0EBE4;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #A9071E;
}
/*.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}*/


/*#signup-button-front-page {
    margin-top: 170px;
    margin-right: 15px;
}*/

/*#signin-button-front-page {

}*/

a.btn.btn-primary.btn-lg {
    background-color: #78c406;
}

.jumbotron {
    background-color: #E9F2F9;
    position: absolute;
    top: 50px;
    /*height: 800px;*/
    width: 100%;
    border-bottom: solid 1px #000000;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    	   -moz-animation: fadein 2s; /* Firefox < 16 */
    		-ms-animation: fadein 2s; /* Internet Explorer */
    		 -o-animation: fadein 2s; /* Opera < 12.1 */
    			animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#signout {
    margin-left: 45px;
}
#welcome {
    padding: 10px;
    margin-left: 10px;
}
#welcome-header {
    margin-bottom: 20px;
    text-shadow:
        1px 0px 1px #ccc, 0px 1px 1px #eee,
        2px 1px 1px #ccc, 1px 2px 1px #eee,
        3px 2px 1px #ccc, 2px 3px 1px #eee,
        4px 3px 1px #ccc, 3px 4px 1px #eee,
        5px 4px 1px #ccc, 4px 5px 1px #eee,
        6px 5px 1px #ccc, 5px 6px 1px #eee,
        7px 6px 1px #ccc;
}
#welcome-text {
    margin-bottom: 25px;
}
.btn-primary {
    background-image: linear-gradient(to bottom, #A9071E 0,#A9071E 100%);
}
.btn-primary:hover {
    background-image: linear-gradient(to bottom,#90c41d 0,#90c41d 100%);
}

#create-article {
    margin-top: 20px;
}
#update-article {
    margin-top: 20px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}
#signin {
    position: absolute;
    bottom: 0;
    left: 25px;
}
#signup {
    position: absolute;
    bottom: 0;
    left: 75px;
}

/** About **/
.about {
    text-align: center;
}
#about-intro {
    margin-top: 20px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        	   -moz-animation: fadein 2s; /* Firefox < 16 */
        		-ms-animation: fadein 2s; /* Internet Explorer */
        		 -o-animation: fadein 2s; /* Opera < 12.1 */
        			animation: fadein 2s;
}
.about p.lead {
    margin-top: 45px;
    margin-bottom: 50px;
    line-height: 1.7;
    font-size: 1.5em;
    -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
        	   -moz-animation: fadein 6s; /* Firefox < 16 */
        		-ms-animation: fadein 6s; /* Internet Explorer */
        		 -o-animation: fadein 6s; /* Opera < 12.1 */
        			animation: fadein 6s;
}
/* Form */
#form-section {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
            	   -moz-animation: fadein 2s; /* Firefox < 16 */
            		-ms-animation: fadein 2s; /* Internet Explorer */
            		 -o-animation: fadein 2s; /* Opera < 12.1 */
            			animation: fadein 2s;
}
#form-header {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 600;
}
.error {
  background-color: rgba(255, 0, 0, 0.2);
}
.help-block {
    color: #A9071E;
}
.submissionMessage {
  background-color: rgba(255,255,255, 0.2);
  border-radius: 5px;
  padding: 12px;
  text-align: center;
  display: block;
  box-shadow: 0 0 2px white;
  width: 60%;
}
.input-form-divs {
    margin-top: 10px;
}
#contact-form-button:hover {
    background-color: #78c406;
}

/* Portfolio */

.portfolio {
    text-align: center;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
            	   -moz-animation: fadein 2s; /* Firefox < 16 */
            		-ms-animation: fadein 2s; /* Internet Explorer */
            		 -o-animation: fadein 2s; /* Opera < 12.1 */
            			animation: fadein 2s;
}
#portfolio-header {
    margin-top: 20px;
    margin-bottom: 60px;
}
.img-rounded {
    margin-bottom: 20px;
}
#image-circle {
    border: solid 1px #000000;
}

