<section>
    <div class="container">
        <div class="portfolio">
            <div class="row">
                <h1 id="portfolio-header">This website was built with Mongodb, Express.js, Angular.js, Node.js and Bootstrap.</h1>
                <a type="button" class="btn btn-default" href="https://github.com/walterbelleville/walterbelleville.com" target="_blank">
                    <i class="fa fa-github fa-lg"></i> Source code of this websit
                </a>
                <br />
                <br />
                <p>You should take a look.</p>

                <p id="portfolio-more-soon">More projects coming soon.</p>
         </div>
    </div>
</section>
