<section>
    <div class="container">
        <div class="portfolio">
            <div class="row">
                <h1 id="portfolio-header">This sites source code is on github.</h1>
                <button type="button" class="btn btn-default"><i class="fa fa-github"></i> Source code on github</button>
                <p id="portfolio-more-soon">More projects coming soon.</p>
                <!--<div class="col-md-6">
                    <img src="/img/300x300.gif" alt="" class="img-rounded">

                    <img src="/img/300x300.gif" alt="" class="img-rounded">
                </div>
                <div class="col-md-6">
                    <img src="/img/300x300.gif" alt="" class="img-rounded">
                    <img src="/img/300x300.gif" alt="" class="img-rounded">
                </div>
            </div>-->
         </div>
    </div>
</section>
