<section>
    <div class="container">
        <div class="portfolio">
            <div class="row">
                <h1 id="portfolio-header">This sites source code is on github.</h1>
                <a type="button" class="btn btn-default" href="https://github.com/walterbelleville/walterbelleville.com" target="_blank">
                    <i class="fa fa-github"></i> Source code on github
                </a>
                <p id="portfolio-more-soon">More projects coming soon.</p>
         </div>
    </div>
</section>
