<section>
    <div class="container">
        <div class="about">
            <h1 id="about-intro">Hi, My Name is Walter Belleville.</h1>
            <p class="lead">This is where I write about tech, show off my work, and explore ideas. I enjoy playing with
                innovative web technologies and building beautiful websites.  I currently am located in North San Diego County.
                I love learning new things and enjoy taking on new challenges to become a better developer. When studying
                for a new media degree, I discovered my passion for programming. </p>
            <img src="/img/me.jpg" alt="Me" id="image-circle" class="img-circle">
        </div>
    </div><!-- /.container -->
</section>
