<!-- The create article view -->
<section data-ng-controller="ArticlesController" xmlns="http://www.w3.org/1999/html">
	<div class="container">
		<h1>New Article</h1>
		<!-- The new article form -->
		<form data-ng-submit="create()" novalidate>
			<div>
				<label for="title">Title</label>
				<div>
					<input type="text" data-ng-model="title" class="form-control" id="title" placeholder="Title" required>
				</div>
			</div>
			<div>
				<label for="content">Content</label>
				<div>
					<textarea data-ng-model="content" class="form-control" id="content" cols="30" rows="10" placeholder="Content"></textarea>
				</div>
			</div>
			<div>
				<input type="submit" class="btn btn-lg btn-primary btn-block" id="create-article" value="submit">Submit Article</input>
				<!--<input type="submit">-->
			</div>
			<!-- The error message element -->
			<div data-ng-show="error">
				<strong data-ng-bind="error"></strong>
			</div>
		</form>
	</div>
</section>