<!-- The list articles view -->
<section class="article-section" data-ng-controller="ArticlesController" data-ng-init="find()">
    <div class="container">
        <h1 class="blog-header">Articles</h1>
        <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="blog-post">
                <ul class="blog-ul">
                    <!-- The list of article -->
                    <li class="blog-list" data-ng-repeat="article in articles">
                        <a class="blog-post-title" data-ng-href="#!/articles/{{article.slug}}" data-ng-bind="article.title"></a>
                        <br>
                        <small class="blog-post-meta">Posted on</small>
                        <small class="blog-post-meta" data-ng-bind="article.created | date:'MMM d, yyyy'"></small>
                        <small class="blog-post-meta">by</small>
                        <small class="blog-post-meta" data-ng-bind="article.creator.fullName"></small>
                        <p style="white-space: pre-line;">{{article.content | limitTo: 500}}{{article.content.length > 500 ? ' . . . Read more' : ''}}</p>
                    </li>
                </ul>
                <!-- If there are no articles in the list, suggest the user's create a new article -->
                <div data-ng-hide="!articles || articles.length">
                    No articles yet, why don't you <a href="/#!/articles/create">create one</a>?
                </div>
                </div><!-- end blog post -->
            </div><!-- end col-sm-8 -->
            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <!--<<div class="sidebar-module sidebar-module-inset">
                        <h4>About</h4>
                        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet
                            fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                      </div>
                      div class="sidebar-module">
                        <h4>Archives</h4>
                        <ol class="list-unstyled">
                          <li><a href="#">March 2014</a></li>
                          <li><a href="#">February 2014</a></li>
                          <li><a href="#">January 2014</a></li>
                          <li><a href="#">December 2013</a></li>
                          <li><a href="#">November 2013</a></li>
                          <li><a href="#">October 2013</a></li>
                          <li><a href="#">September 2013</a></li>
                          <li><a href="#">August 2013</a></li>
                          <li><a href="#">July 2013</a></li>
                          <li><a href="#">June 2013</a></li>
                          <li><a href="#">May 2013</a></li>
                          <li><a href="#">April 2013</a></li>
                        </ol>
                      </div>
                      <div class="sidebar-module">
                        <h4>Elsewhere</h4>
                        <ol class="list-unstyled">
                          <li><a href="#">GitHub</a></li>
                          <li><a href="#">Twitter</a></li>
                          <li><a href="#">Facebook</a></li>
                        </ol>
                      </div>
                    </div>--><!-- /.blog-sidebar -->

        </div><!-- end row -->
    </div><!-- end container -->
</section>