<!-- The article view -->
<section class="article-section" data-ng-controller="ArticlesController" data-ng-init="findOne()">
    <div class="container">
        <div class="blog-main">
            <div class="blog-post-single">
                <h1 class="blog-post-title" data-ng-bind="article.title"></h1>
                <!-- Show the editing buttons to the article creator -->
                <div data-ng-show="authentication.user._id == article.creator._id">
                    <a href="/#!/articles/{{article.slug}}/edit">edit</a>
                    <small>/</small>
                    <a href="#!" data-ng-click="delete();">delete</a>
                </div>
                <small class="blog-post-meta">
                    <em>Posted on</em>
                    <em data-ng-bind="article.created | date:'mediumDate'"></em>
                    <em>by</em>
                    <em data-ng-bind="article.creator.fullName"></em>
                </small>
                <br />
                <br />
                <p style="white-space: pre-line;" data-ng-bind="article.content"></p>
            </div>
        </div>
    </div>
</section>